.swp
.pyc
.png
.pdf
log
/figs/*
gpOptim/workDir/figs/*
/OFcase/constant/polyMesh/*
/OFcase/0/C*
/OFcase/0/*_IC
/OFcase/dynamicCode
/OFcase/processor*
/OFcase/postProcessing
/OFcase/log
/OFcase/err
/OFpost/__pycache__
/gpOptim/__pycache__
*~