figs/png
figs/*.avi
figs/*.pdf
log
log1
OFcase/constant/polyMesh/*
OFcase/0/C*
OFcase/0/*_IC
OFcase/processor*
OFcase/postProcessing
OFcase/log
OFcase/err
OFpost/beta*.npy
OFpre/__pycache__
OFpost/__pycache__
gpOptim/__pycache__
__pycache__
*~
OFcase/system/yTopParams.in
gpOptim/workDir/gpList.dat
inflow/__pycache__
inflow/bl_data
